@import '../../styles/variables.scss';

$box-size: 120px;

.vote {
  height: $box-size;


  &-row {
    margin-bottom: $space-md;
  }
  
  &-point-box {
    max-width: $box-size;
    min-height: $box-size;
    background-color: lighten($background-color, 5px);
    border: 2px solid $color-secondary;
    border-radius: $border-radius;
  }
  &-content {
    margin-left: $space-md;
  }

  &-buttons {
    flex: 30px;
  }

  &-button {
    &:first-child {
      margin-right: $space-lg;
    }
  }
}