@import '../../styles/variables.scss';

$box-size: 100px;

.vote {

  &-trash {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: transparent;
    &:active {
      border-color: transparent;
    }

    &-icon {
      width: 30px;
      height: 30px;

    }
  }
  &-row {
    position: relative;
    height: $box-size + 20;
    margin-bottom: $space-md;
    padding: $space-sm;
    border-radius: $border-radius;

    
    &:hover {
      background-color: lighten($color-light, 10%);
      .vote-trash {
        display: block;
      }
    }
  }
  
  &-point-box {
    max-width: $box-size;
    min-width: $box-size;
    min-height: $box-size;
    background-color: lighten($background-color, 5px);
    border: 2px solid $color-secondary;
    border-radius: $border-radius;
  }
  &-content {
    margin-left: $space-md;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &-buttons {
    flex: 30px;
  }

  &-button {
    &:first-child {
      margin-right: $space-lg;
    }
    
  }
}