@import "variables";

// create basic css classes for margin-padding
// example usage margin-bottom-sm or padding-top-lg or padding-md
@each $space in $space-list {
  $key: nth($space, 1);
  $value: nth($space, 2);
  
  .margin-#{$key} {
    margin: $value;
  }
  .padding-#{$key} {
    padding: $value;
  }
  @each $side in $sides {
    .margin-#{$side}-#{$key} {
      margin-#{$side}: $value;
    }
  
    .p-#{$side}-#{$key} {
      padding-#{$side}: $value;
    }
  }
}

@each $color in $color-list {
  $key: nth($color, 1);
  $value: nth($color, 2);

  .color-#{$key} {
    color: $value;
  }

  .background-color-#{$key} {
    color: $value;
  }
}
@each $size in $font-size-list {
  $key: nth($size, 1);
  $value: nth($size, 2);

  .font-size-#{$key} {
    font-size: $value;
  }
}
@each $weight in $font-weight-list {
  $key: nth($weight, 1);
  $value: nth($weight, 2);

  .font-weight-#{$key} {
    font-weight: $value;
  }
}

