@import './variables.scss';

.input {
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid $color-secondary;
  outline: none;
  font-size: $font-size-sm;
  padding: $space-sm;
  color: $color-primary;
  background-color: lighten($background-color, 5px);

  &:focus {
    border-color: $color-primary;
  } 
}