$color-primary: black;
$color-light: gray;
$color-secondary: white;
$color-success: green;
$color-warning: tomato;

$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;

$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 32px;
$font-size-xxl: 40px;

$font-weight-normal: 200;
$font-weight-bold: 900;

$font-family: 'Roboto';

$border-radius: 8px;
